button {
  border: none;
  background-color: #7a7b7d;
  font-size: 24px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #a0a1a3;
}

.sign {
  /* grid-column: 3 / 5; */
  background-color: #ff950c;
}

.sign:hover {
  background-color: #d37b09;
}

.zero {
  grid-column: 1 / span 2;
}
